
#nav {
    width:100px;
    background-color: red;
    float: left;
    opacity: 0.5;
    width:100%;
}
h1 {
    text-align: center;
}

.round{

    background-color:darkgrey;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 100vh;
    border-radius:30px;
}


.subframe{
    position: relative;
    width: 100%;
    border-radius:30px;

}

section {
	font-family: Microsoft JhengHei, serif;	
	width: 100%; height: 100vh;
	background-attachment: fixed;
	/*background-position: center center;*/
    background-size: cover;
    border-radius:50px;
    margin-bottom:20px;
    margin-top:20px;


/* Flex Box 設定內部元素置中	 */
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}


.content-center{
    background-position: center center;
    display: flex;
	justify-content: center;
    align-items: center;

}
.content-left{
    padding-left: 10vw;
    padding-top:40vh;
}
.fixed {
	position: fixed;
	/*display:center;
	text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}
.fixedcenter{
    position: fixed;
	display:center;
	text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#reminder{
    background-color:yellow;
    opacity: 50%;
    width: 100%;
}
#iphone{
    height:90vh;
    animation:zoom 1s;
}


@keyframes zoom{
    from{
        height: 50vh;
        /*padding-top:20vh;*/

    }
    to{
        height :90vh;
        /*padding-top:10vh*/

    }
}
