
#nav {
    width:100px;
    background-color: red;
    float: left;
    opacity: 0.5;
    width:100%;
}
h1 {
    text-align: center;
}

section {
	font-family: Microsoft JhengHei, serif;	
	width: 100%; height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;

/* Flex Box 設定內部元素置中	 */
	display: flex;
	justify-content: center;
	align-items: center;
}


.fixed {
	position: fixed;
	display:center;
	text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#reminder{
    background-color:yellow;
    opacity: 50%;
    width: 100%;
}